@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@font-face {
  font-family: PS-Aelyn;
  src: url("../src/assets/fonts/PS-Aelyn\ Regular.otf");
}

@import "tailwindcss";

@theme {
  --font-ps-aelyn: PS-Aelyn, "sans-serif";
  --font-cabin: Cabin, "sans-serif";
  --font-cairo: Cairo, "sans-serif";

  --breakpoint-2xl: 101rem;
}

body {
  background-image: url("/src/assets/images/page-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.text-reveal {
  display: inline-block;
  clip-path: inset(0 100% 0 0);
}

.request-btn {
  @apply inline-flex relative border-1 border-solid border-[#112A50] h-10 cursor-pointer overflow-hidden;
}
.request-span {
  @apply absolute inset-0 inline-flex items-center justify-center font-cabin font-light text-[#1b3862] text-xs 2xl:text-sm;
}

.request-two {
  transform: translateY(110%);
}
